*{
    margin:0;
    box-sizing : border-box;
}

body{
    display : flex;
    flex-direction : column;
    height : 100vh;
    width : 100vw;
    overflow : hidden;
    align-items : center;
    justify-content : center;
    /* border : 3px solid red; */
    background-color :#232931;
}
.grand-parent{
    width : 80%;
}
#robo-div{
    /* border : 3px solid red; */
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: center;
}
#btn{
    display : block;
}
#txtarea{
    width : 60%;
    height : 30vh;
    background-color : #393E46;
    outline: none;
    border : none;
    border-radius : 15px;
    padding : 1em;
    font-size : 1rem;
    color : white;
}
.parent-hero{
    display : flex;
    flex-direction: column;
    align-items : center;
    justify-content : center;
}
.controls-flex{
    display : flex;
}

.active[data-activeness]{
    display: block;
}
[data-activeness]{
    display : none;
}

.innerClass-robo{
    font-size : 3.5rem;
}

.common-btn{
    background-color: #4ECCA3;
    border : none;
    outline : none;
    padding : 1em;
    border-radius : 15px;
    font-size : 1em;
    margin : 1em;
}